<app-header></app-header>

<h1>Authors</h1>
<p *ngIf="errorMessage" class="errMsg">{{errorMessage}}</p>
<p *ngIf="successMessage" class="successMsg">{{successMessage}}</p>
<table mat-table [dataSource]="list" matSort class="mat-elevation-z1">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    
    <ng-container matColumnDef="bio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bio </th>
        <td mat-cell *matCellDef="let element"> {{element.bio}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <a mat-flat-button (click)="deleteAuthor(element._id)" class="warning-btn">Delete</a></td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>  <a mat-flat-button routerLink="/authorcreate" class="success-btn">Create</a></th>
        <td mat-cell *matCellDef="let element"> <a mat-flat-button routerLink="/authoredit/{{element._id}}"color="primary">Edit</a></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>