<app-header></app-header>
<h1>LOGIN</h1>
<mat-card>
  <form class="loginForm">
    <table cellspacing="0" width="100%">
      <tr *ngIf="errorMessage">
        <td>
            <p class="errMsg">{{errorMessage}}</p>
        </td>
      </tr>
      <tr *ngIf="successMessage">
          <td>
              <p class="successMsg">{{successMessage}}</p>
          </td>
        </tr>
      <tr>
        <td>
            <mat-form-field>
              <input name="username" matInput [(ngModel)]="username" placeholder="Username" required>
            </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <mat-form-field>
              <input name="password" matInput [(ngModel)]="password" placeholder="Password" type="password" required>
            </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </form>
  <button mat-flat-button (click)="login()" color="primary">Login</button>
</mat-card>
