<app-header></app-header>

<mat-card>
  <h2>{{book.author.name}}</h2>
  <h2>{{book.publisher.name}}</h2>
  <p *ngIf="errorMessage" class="errMsg">{{errorMessage}}</p>
  <p *ngIf="successMessage" class="successMsg">{{successMessage}}</p>

  <mat-form-field>
    <input [formControl]="nameFormControl" matInput name="name" [(ngModel)]="name" placeholder="name" required>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      name is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="descriptionFormControl" matInput name="description" [(ngModel)]="description" placeholder="description" required>
    <mat-error *ngIf="descriptionFormControl.hasError('required')">
      description is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="genreFormControl" matInput name="genre" [(ngModel)]="genre" placeholder="genre" required>
    <mat-error *ngIf="genreFormControl.hasError('required')">
      genre is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="languageFormControl" matInput name="language" [(ngModel)]="language" placeholder="language" required>
    <mat-error *ngIf="languageFormControl.hasError('required')">
      language is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [formControl]="publishdateFormControl" matInput name="publishdate" [(ngModel)]="publishdate" placeholder="publishdate" required>
    <mat-error *ngIf="publishdateFormControl.hasError('required')">
      publishdate is <strong>required</strong>
      </mat-error>
  </mat-form-field>




  <mat-form-field>
    <input [formControl]="imageFormControl" matInput name="image" [(ngModel)]="image" placeholder="Image Uri" required>
    <mat-error *ngIf="imageFormControl.hasError('pattern') && !imageFormControl.hasError('required')">
        Please enter a valid Image URI (example: 'http://example.com/i/img.png').
      </mat-error>
      <mat-error *ngIf="imageFormControl.hasError('required')">
        Image URI is <strong>required</strong>
      </mat-error>
  </mat-form-field>

  <button mat-button (click)="editBook()" color="warn">Edit</button>

</mat-card>
